@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,400&display=swap");
.container {
  position: relative;
  max-width: 80%;
  min-height: 580px;
  background: rgba(191, 217, 223, 0.3);
  padding: 60px;
  margin: 100px auto;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.container .icon-container .icon {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.container .icon-container .html {
  position: relative;
  top: 150px;
  right: 40px;
}

.container .icon-container .photos {
  position: relative;
  bottom: 120px;
  left: 60px;
}

.container .icon-container .videos-1 {
  position: relative;
  top: 120px;
  right: 250px;
}

.container .icon-container .videos-2 {
  position: relative;
  bottom: 80px;
  left: 220px;
}

.container .title-wrapper {
  width: 90%;
}

.container .title-wrapper .title {
  margin-bottom: 30px;
  font-family: Philosopher;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 69px;
  text-align: center;
  color: #161d6f;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
}

.container .title-wrapper .sub-title {
  font-family: Philosopher;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  color: #161d6f;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
}

.container .upload-module {
  position: relative;
  top: 150px;
  min-width: 650px;
  min-height: 320px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 26px 25px 50px -10px rgba(0, 0, 0, 0.15);
          box-shadow: 26px 25px 50px -10px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.container .upload-module .drop-zone {
  width: 80%;
  height: auto;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .upload-module .drop-zone .drop-zone__title {
  font-family: Philosopher;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  color: #161d6f;
}

.container .upload-module .drop-zone .browse-files {
  width: 200px;
  height: 50px;
  background: transparent;
  outline: none;
  border-radius: 25px;
  border: 1.5px solid #161d6f;
  font-family: Philosopher;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #161d6f;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.container .upload-module .drop-zone .browse-files::after {
  background: #161d6f;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 0;
}

.container .upload-module .drop-zone .browse-files:hover::after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}

body {
  padding-bottom: 200px;
}
/*# sourceMappingURL=main.css.map */